/* Top part
------------------------------- */
.container1 {
    height: 450px
}
.header {
    padding-bottom: 60px;
}

.content1, .header, ul {
    display: flex;
    gap: 60px;
}

.secondary-text {
    font: 18px Arial;
    color: #e5e7eb;
}

.container1 {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    gap: 16px;
}

#awesome {
    font: 48px extra-bold;
    color: #F9FAF8;
}

button {
    border: none;
    border-radius: 4px;
    color: azure;
    padding: 5px 15px;
    font-weight: bolder;
}

.light-blue {
    background-color: #3882F6;
}

.content1 {
    justify-content: space-around;
    padding-left: 25%;
    padding-right: 25%;
}

.secondary-text{
    padding-top: 0px;
}

img {
    margin-bottom: 30px;
}

/* Middle Part 
------------------------------- */
.container2, #boxes, .box-group {
    display: flex;
}

.container2 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.middle-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

#boxes {
    gap: 50px;
}

.box-group {
    flex-direction: column;
    align-items: center;
    max-width: 140px;
}

.rounded-box {
    border-radius: 12px;
    border: 3px solid #3882F6;
    width: 125px;
    height: 125px;
}
/* Quote container (3)
------------------------------- */
.container3 {
    background-color: #e5e7eb;
    padding: 30px 75px 30px 75px;
    color: white;
}

.quote {
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
}

.quote-author {
    display: flex;
    justify-content: end;
    font-size: 32px;
    font-weight: bold;
    color: #1f2937;
}

/* Call to action container
------------------------------- */
.blue-box {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    border-radius: 15px;
    width: 60%;
    margin: auto;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

#action-header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

.action-text {
    color: white;
    margin-top: 0px;
}

#action-p {
    font-size: 22px;
}

#action-sign {
    font-size: 32px;
    background-color: #3882f6;
    color: white;
    border: 3px solid #F9FAF8;
    padding: 5px 10px;
    margin: 10px;
}

/* Footer
------------------------------- */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #1F2937;
    color: white;
    font-size: 26px;
}

#copyright {
    text-align: center;
}
